[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "mini-dust3r"
version = "0.1.0"
description = "Miniature version of dust3r, focused on inference"
requires-python = ">=3.10.0"
license = {file = "LICENSE"}
classifiers = [
    "Development Status :: 3 - Alpha",
    "Programming Language :: Python",
]

dependencies=[
    "roma>=1.5",
    "opencv-python>=4.9.0.80",
    "gradio-rerun>=0.0.1",
    "open3d>=0.18.0",
    "safetensors>=0.4.3",
    "torch>=2.0.0",
    "torchvision>=0.15.0",
    "matplotlib>=3.8.4",
    "einops>=0.7.0",
    "tqdm>=4.66.4",
    "scipy>=1.12.0",
    "trimesh>=4.2.0",
    "tensorboard>=2.16.2",
    "pyglet>=1.5.27",
    "jaxtyping>=0.2.28",
    "gradio>=4.29.0",
    "rerun-sdk>=0.15.1",
]

[tool.setuptools.packages.find]
include = ["mini_dust3r*"]
